@{
    ViewBag.Title = "Offer";
}


<section id="offer" class="bookshelf py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row">

                    <div class="section-header align-center">
                        <div class="title">
                            <span>Grab your opportunity</span>
                        </div>
                        <h2 class="section-title">
                            Books with offer
                        </h2>
                    </div>


                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <img src="~/Content/images/product-item3.jpg" alt="Books" class="product-item">
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                    Add to
                                    Cart
                                </button>
                            </figure>
                            <figcaption>
                                <h3>The lady beauty Scarlett</h3>
                                <span>Arthur Doyle</span>
                                <div class="item-price">
                                    <span class="prev-price">$ 55.00</span>
                                    $ 45.00
                                </div>
                            </figcaption>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <img src="~/Content/images/product-item5.jpg" alt="Books" class="product-item">
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                    Add to
                                    Cart
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Way of Happiness</h3>
                                <span>Ananda Kumar</span>
                                <div class="item-price">
                                    <span class="prev-price">$ 50.00</span>
                                    $ 40.00
                                </div>
                            </figcaption>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <img src="~/Content/images/product-item7.jpg" alt="Books" class="product-item">
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                    Add to
                                    Cart
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Fashion System</h3>
                                <span>Kevin Spear</span>
                                <div class="item-price">
                                    <span class="prev-price">$ 35.00</span>
                                    $ 45.00
                                </div>
                            </figcaption>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <img src="~/Content/images/product-item8.jpg" alt="Books" class="product-item">
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                    Add to
                                    Cart
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Musical</h3>
                                <span>Karim Archard</span>
                                <div class="item-price">
                                    <span class="prev-price">$ 25.00</span>
                                    $ 35.00
                                </div>
                            </figcaption>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="bestselling" class="leaf-pattern-overlay">
    <div class="corner-pattern-overlay"></div>
    <div class="container">
       <div class="row justify-content-center">
           <div class="col-md-8">
               <div class="row">
                   <div class="col-md-6">
                       <figure class="products-thumb">
                           <img src="~/Content/images/single-image.jpg" alt="book" class="single-image">
                       </figure>
                   </div>
                   <div class="col-md-6">
                       <div class="product-entry">
                           <h2 class="section-title divider">
                               Best Selling Book
                           </h2>
                           <div class="products-content">
                               <div class="author-name">By Timbur Hood</div>
                               <h3 class="item-title">Birds gonna be happy</h3>
                               <p>
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet,
                                   libero ipsum enim pharetra hac.
                               </p>
                               <div class="item-price">$ 45.00</div>
                               <div class="btn-wrap">
                                   <a href="#" class="btn-accent-arrow">
                                       shop it now
                                       <i class="icon icon-ns-arrow-right"></i>
                                   </a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
</section>
