@{
    ViewBag.Title = "Review";
}

 <section class="py-5 my-5">
        <div class="container">
            <div class="row">

                <div class="section-header align-center">
                    <div>
                        <h2 class="section-title">Reviews</h2>
                    </div>
                </div>


                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="universal-blocks">
                            <div class="card p-4 shadow-sm mb-4" style="border-radius: 15px; background-color: #f8f9fa;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="rating disabled star5">
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                        </div>

                                        <div class="universal-blocks-content row align-items-start">
                                            <!-- Контейнер для изображения -->
                                            <div class="col-md-2 pe-3 text-center">
                                                <a href="http://localhost:50579/Book/BookInfo" class="img-responsive">
                                                    <img src="~/Content/images/tab-item1.jpg"
                                                         alt="книга"
                                                         title="Portrait Photography"
                                                         class="book-image img-fluid">
                                                </a>
                                            </div>
                                            <!-- Контейнер для текста -->

                                            <div class="col-md-10 ps-3">
                                                <p class="universal-blocks-description mb-3">
                                                    <svg class="svg-inline--fa fa-book fa-w-14"
                                                         aria-hidden="true"
                                                         focusable="false"
                                                         data-prefix="fas"
                                                         data-icon="book"
                                                         role="img"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 448 512"
                                                         width="20" height="20">
                                                        <path fill="currentColor"
                                                              d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3 2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z">
                                                        </path>
                                                    </svg>
                                                    <strong>«<a href="http://localhost:50579/Book/BookInfo" rel="noopener noreferrer">Portrait Photography</a>»</strong>
                                                    Adam Silber
                                                </p>
                                                <p>
                                                    Whether you're an aspiring photographer or a seasoned professional, this book offers a wealth of knowledge to elevate your craft.
                                                    Silber demystifies complex techniques, from mastering natural and studio lighting to selecting the perfect lens and composing dynamic frames.
                                                    Learn to navigate the subtleties of directing subjects, whether in candid moments or meticulously posed studio sessions, and discover how
                                                    to harness color theory, black-and-white contrasts, and environmental context to amplify narrative depth.
                                                    <!-- <a href="http://localhost:50579/Book/BookInfo" rel="noopener noreferrer">Read more</a> -->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="universal-blocks">
                            <div class="card p-4 shadow-sm mb-4" style="border-radius: 15px; background-color: #f8f9fa;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="rating disabled star5">
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                        </div>

                                        <div class="universal-blocks-content row align-items-center-start">
                                            <!-- Контейнер для изображения -->
                                            <div class="col-md-2 pe-3 text-center">
                                                <a href="#" class="img-responsive">
                                                    <img src="~/Content/images/product-item4.jpg"
                                                         alt="книга"
                                                         title="Once upon a Time"
                                                         class="book-image img-fluid">
                                                </a>
                                            </div>
                                            <!-- Контейнер для текста -->

                                            <div class="col-md-10 ps-3">
                                                <p class="universal-blocks-description mb-3">
                                                    <svg class="svg-inline--fa fa-book fa-w-14"
                                                         aria-hidden="true"
                                                         focusable="false"
                                                         data-prefix="fas"
                                                         data-icon="book"
                                                         role="img"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 448 512"
                                                         width="20" height="20">
                                                        <path fill="currentColor"
                                                              d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3 2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z">
                                                        </path>
                                                    </svg>
                                                    <strong>«<a href="#" rel="noopener noreferrer">Once upon a Time</a>»</strong>
                                                    Klien Marry
                                                </p>
                                                <p>
                                                    "Once Upon a Time..." is a captivating tale that weaves mystery and emotion into every page.
                                                    The characters feel incredibly real, making their journey both heartwarming and unforgettable.
                                                    A must-read for anyone who loves stories filled with depth and intrigue!

                                                    <!-- <a href="#" rel="noopener noreferrer">Read more</a> -->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="universal-blocks">
                            <div class="card p-4 shadow-sm mb-4" style="border-radius: 15px; background-color: #f8f9fa;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="rating disabled star5">
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                        </div>

                                        <div class="universal-blocks-content row align-items-start">
                                            <!-- Контейнер для изображения -->
                                            <div class="col-md-2 pe-3 text-center">
                                                <a href="#" class="img-responsive">
                                                    <img src="~/Content/images/tab-item3.jpg"
                                                         alt="книга"
                                                         title="Tips of Simple Lifestyle"
                                                         class="book-image img-fluid">
                                                </a>
                                            </div>
                                            <!-- Контейнер для текста -->

                                            <div class="col-md-10 ps-3">
                                                <p class="universal-blocks-description mb-3">
                                                    <svg class="svg-inline--fa fa-book fa-w-14"
                                                         aria-hidden="true"
                                                         focusable="false"
                                                         data-prefix="fas"
                                                         data-icon="book"
                                                         role="img"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 448 512"
                                                         width="20" height="20">
                                                        <path fill="currentColor"
                                                              d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3 2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z">
                                                        </path>
                                                    </svg>
                                                    <strong>«<a href="#" rel="noopener noreferrer">Tips of Simple Lifestyle</a>»</strong>
                                                    Bratt Smith
                                                </p>
                                                <p>
                                                    Whether you're a busy working professional, a stay-at-home parent, or a student, you'll find that these habits are easy
                                                    to fit into your lifestyle. Through the sharing of personal experiences and the stories of other individuals, the author
                                                    illustrates the transformative power of small, consistent habits in improving physical and mental health. Filled with activities
                                                    and exercises, this book is designed to help readers take control of their health and start living their best lives.

                                                    <!-- <a href="#" rel="noopener noreferrer">Read more</a> -->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="universal-blocks">
                            <div class="card p-4 shadow-sm mb-4" style="border-radius: 15px; background-color: #f8f9fa;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="rating disabled star5">
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                            <a href="#">★</a>
                                        </div>

                                        <div class="universal-blocks-content row align-items-start">
                                            <!-- Контейнер для изображения -->
                                            <div class="col-md-2 pe-3 text-center">
                                                <a href="#" class="img-responsive">
                                                    <img src="~/Content/images/tab-item6.jpg"
                                                         alt="книга"
                                                         title="Great Travel at Desert"
                                                         class="book-image img-fluid">
                                                </a>
                                            </div>
                                            <!-- Контейнер для текста -->

                                            <div class="col-md-10 ps-3">
                                                <p class="universal-blocks-description mb-3">
                                                    <svg class="svg-inline--fa fa-book fa-w-14"
                                                         aria-hidden="true"
                                                         focusable="false"
                                                         data-prefix="fas"
                                                         data-icon="book"
                                                         role="img"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 448 512"
                                                         width="20" height="20">
                                                        <path fill="currentColor"
                                                              d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3 2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z">
                                                        </path>
                                                    </svg>
                                                    <strong>«<a href="#" rel="noopener noreferrer">Great Travel at Desert</a>»</strong>
                                                    Sanchit Howdy
                                                </p>
                                                <p>
                                                    A classic tale of humor and wit that captures the essence of the Yiddish spirit. A heartwarming and insightful
                                                    story filled with clever wordplay and timeless wisdom. The characters come to life with charm and depth,
                                                    making it a delightful read for all ages.


                                                    <!-- <a href="#" rel="noopener noreferrer">Read more</a> -->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </section>
