@{
    ViewBag.Title = "er404";
    Layout = "../Shared/_LoginLayout.cshtml";
}

<section class="py-5 my-5">
    <div class="error-code">
        <h1 class="error-code-h">404</h1>
        <p class="error-code-p">Page not found</p>
    </div>
</section>