@{
    ViewBag.Title = "Index";
}
@model BookShopProject.Models.GenreList

<section class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="section-header align-center">
                <div>
                    <h2 class="section-title">Genres</h2>
                </div>
            </div>
            @foreach (var g in Model.Genres)
            {
                <div class="col-md-3">
                    <a href="@Url.Action("BookList", "Book")?Genre=@g"><p class="genres">@g</p></a>
                </div>
            }
            
        </div>
    </div>
</section>