@{
    ViewBag.Title = "Index";
}
<section class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="section-header align-center">
                <div>
                    <h2 class="section-title">Genres</h2>
                </div>
            </div>
            <div class="col-md-3">
                <p class="genres">Sociology</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Fantasy</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Science Fiction</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Mystery</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Romance</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Horror</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Thriller</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Historical</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Non-Fiction</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Biography</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Self-Help</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Children's</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Young Adult</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Adventure</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Drama</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Poetry</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Graphic Novel</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Classic</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Crime</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Satire</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Anthology</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Cookbook</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Diary</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Guide</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Travel</p>
            </div>
            <div class="col-md-3">
                <p class="genres">True Crime</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Science</p>
            </div>
            <div class="col-md-3">
                <p class="genres">History</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Math</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Memoir</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Philosophy</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Religion</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Art</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Psychology</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Science Fiction</p>
            </div>
            <div class="col-md-3">
                <p class="genres">Fantasy</p>
            </div>
        </div>
    </div>
</section>