
@{
    ViewBag.Title = "Index";
}

<section id="popular-books" class="bookshelf py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="section-header align-center">
                    <div>
                        <h2 class="section-title">Popular books</h2>
                    </div>
                </div>
                <div class="row">


                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <img src="Content/images/tab-item1.jpg" alt="Books" class="product-item">
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
                                    Cart
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Portrait photography</h3>
                                <span>Adam Silber</span>
                                <div class="item-price">$ 40.00</div>
                            </figcaption>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <img src="Content/images/tab-item2.jpg" alt="Books" class="product-item">
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
                                    Cart
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Once upon a time</h3>
                                <span>Klien Marry</span>
                                <div class="item-price">$ 35.00</div>
                            </figcaption>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <img src="Content/images/tab-item3.jpg" alt="Books" class="product-item">
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
                                    Cart
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Tips of simple lifestyle</h3>
                                <span>Bratt Smith</span>
                                <div class="item-price">$ 40.00</div>
                            </figcaption>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <img src="Content/images/tab-item4.jpg" alt="Books" class="product-item">
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
                                    Cart
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Just felt from outside</h3>
                                <span>Nicole Wilson</span>
                                <div class="item-price">$ 40.00</div>
                            </figcaption>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <img src="Content/images/tab-item1.jpg" alt="Books" class="product-item">
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
                                    Cart
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Portrait photography</h3>
                                <span>Adam Silber</span>
                                <div class="item-price">$ 40.00</div>
                            </figcaption>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <img src="Content/images/tab-item2.jpg" alt="Books" class="product-item">
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
                                    Cart
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Once upon a time</h3>
                                <span>Klien Marry</span>
                                <div class="item-price">$ 35.00</div>
                            </figcaption>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <img src="Content/images/tab-item3.jpg" alt="Books" class="product-item">
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
                                    Cart
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Tips of simple lifestyle</h3>
                                <span>Bratt Smith</span>
                                <div class="item-price">$ 40.00</div>
                            </figcaption>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="product-item">
                            <figure class="product-style">
                                <img src="Content/images/tab-item4.jpg" alt="Books" class="product-item">
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
                                    Cart
                                </button>
                            </figure>
                            <figcaption>
                                <h3>Just felt from outside</h3>
                                <span>Nicole Wilson</span>
                                <div class="item-price">$ 40.00</div>
                            </figcaption>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

