/*Global*/
.zero-margin-button {
    margin-bottom: 0;
}

.margin-button-10 {
    margin-bottom: 10px;
}

.rounded-corners {
    border-radius: 8px;
}

.no-tocheble {
    pointer-events: none;
}

.beauty-button {
    padding: 6px;
    background-color: #C5A992;
    border-radius: 9px;
    border: 1px solid #C5A992;
    color: white;
}


/*Footer*/
.copy {
    margin-bottom: 0;
}


/*Genres*/
.genres {
    background-clip: content-box;
    box-shadow: inset 0 0 0 100px #EFEEE8;
    padding: 15%;
    border: 1px solid #EAE8DF;
    cursor: pointer;
    width: 100%;
    text-align: center;
}


/*Article*/
.article-background {
    margin-bottom: 20px;
}

.article-title {
    margin-top: 0;
}

.article-image {
    margin: 20px 0 20px 0;
}

.article-title-full {
    width: 75%;
    height: 75%;
    margin: 0;
    font-size: 30px;
    text-align: justify;
}

.article-text {
    width: 75%;
    height: 75%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.article-image-full {
    width: 75%;
    height: 75%;
}


/*Book info*/
.book-description {
    margin-top: 20px;
}

.book-image .author-full-photo {
    display: block;
}

.book-name .author-full-name {
    margin-top: 30px;
    margin-bottom: 0;
}

.count-of-available-books {
    margin-top: 33px;
}

.book-parameters {
    text-align: center;
    margin-bottom: 20px;
}

.tags-of-parameters {
    margin-top: 10px;
    background-clip: content-box;
    box-shadow: inset 0 0 0 100px #EFEEE8;
    padding: 5%;
    border: 1px solid #EAE8DF;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.want-be-normal-left-margin-book-only-on-pc {
    margin-left: 0%;
}


/*Errors*/
.error-code {
    height: 100%;
    text-align: center;
    margin-top: 166px;
    margin-bottom: 166px;
}

.error-code-h {
    margin-bottom: 0px;
    font-size: 100px;
}

.error-code-p {
    font-size: 25px;
}


/*Register/Login*/
.register-login-background {
    width: 100%;
    margin: 15%;
    padding-top: 7px;
    padding-bottom: 5px;
    max-height: 650px;
    max-width: 500px;
    background-color: #f8f9fa;
    border-radius: 15px;
    align-content: center
}

.field-validation-error {
    color: #C5A992;
    width: 85%;
    margin-left: 7.5%;
}

.form-text-box {
    margin-bottom: 3px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.form-l {
    width: 85% !important;
    margin-left: 7.5%;
    padding: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 5px !important;
}


/*Admin*/
.body-admin-content {
    margin-left: 20% !important;
    padding: 1px 16px;
    height: 1000px;
}

.sidebar-menu-admin {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    border: 1px solid #EAE8DF;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.sidebar-menu-admin li a {
    display: block;
    color: black;
    padding: 4px 30px;
    text-decoration: none;
}

.sidebar-menu-admin h2 {
    display: flex;
    color: black;
    padding: 4px 16px;
    text-decoration: none;
    justify-content: center;
}

.button-for-a {
    display: block;
    color: gray;
    padding: 2px 16px;
    text-decoration: none;
    background-color: #EAE8DF;
    border: none;
}

.sidebar-menu-admin div {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.go-back-button {
    height: 35px;
    width: 35px;
}

.form-readonly {
    color: gray;
}

.delete-button {
    background-color: #e13d0b;
    color: white;
    margin-left: 20px;
}


/*Author*/
.author-parameters p{
    margin: 0;
}