<ul class="sidebar-menu-admin">
    <h2>Admin Panel</h2>
    <li>
        <a>Analytic</a>
    </li>

    <li>
        <a>Books</a>
    </li>

    <li>
        <a>Users</a>
    </li>

    <li>
        <a>Orders</a>
    </li>

    <li>
        <a>Articles</a>
    </li>

    <li>
        <a>Reviews</a>
    </li>

    <li>
        <a>Authors</a>
    </li>

    <div>
        <button class="rounded-corners">
            <a href="@Url.Action("Index", "Home")">Go Home</a>
        </button>
    </div>

</ul>