@using System.Web.Optimization
@using BookShopProject.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta author="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/bundles/styles")


</head>
<body>
@Html.Partial("_AdminSideBar")
<div class="container body-content body-admin-content">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/scripts")

</body>
</html>