<div id="footer-bottom">
    <p class="copy">&copy; @DateTime.Now.Year - Created by Bohdan Kondratiuk, Alexandra Nicipurenco and Alina Vladco</p>
    <p>Used free theme
        <a href="https://themewagon.com/themes/booksaw/" target="_blank">Booksaw</a> from
        <a href="https://themewagon.com/" target="_blank">themewagon</a>
    </p>
        
</div>