<div class="top-content">
    <div class="container-fluid">

        <div class="right-element">
            <a href="#" class="user-account for-buy">
                <i class="icon icon-user"></i><span>Account</span>
            </a>
            <a href="#" class="cart for-buy">
                <i class="icon icon-clipboard"></i><span>
                    Cart:(0
                    $)
                </span>
            </a>
            <a href="@Url.Action("Login", "Auth")" class="account"><i class="icon icon-user"></i><span>Sign in</span></a>


            <div class="action-menu">

                <div class="search-bar">
                    <a href="#" class="search-button search-toggle" data-selector="#header-wrap">
                        <i class="icon icon-search"></i>
                    </a>
                    <form role="search" method="get" class="search-box">
                        <input class="search-field text search-input" placeholder="Search"
                               type="search">
                    </form>
                </div>
            </div>

        </div><!--top-right-->
    </div>
</div><!--top-content-->