@{
    ViewBag.Title = "ArticlesList";
}
<section class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="section-header align-center">
                <div>
                    <h2 class="section-title">Articles</h2>
                </div>
            </div>
            <div class="col-md-3 article-background">
                <figure class="article-image">
                    <a href="#" >
                        <img src="~/Content/images/post-img1.jpg" alt="post" class="post-image">
                    </a>
                </figure>

                <div class="post-item">
                    <div class="meta-date">Mar 30, 2021</div>
                    <h3 class="article-title"><a href="#">Reading books always makes the moments happy</a></h3>
                </div>
            </div>
            <div class="col-md-3 article-background">
                <figure class="article-image">
                    <a href="#" >
                        <img src="~/Content/images/post-img2.jpg" alt="post" class="post-image">
                    </a>
                </figure>
            
                <div class="post-item">
                    <div class="meta-date">Apr 15, 2021</div>
                    <h3 class="article-title"><a href="#">Exploring the world through books</a></h3>
                </div>
            </div>
            
            <div class="col-md-3 article-background">
                <figure class="article-image">
                    <a href="#" >
                        <img src="~/Content/images/post-img3.jpg" alt="post" class="post-image">
                    </a>
                </figure>
            
                <div class="post-item">
                    <div class="meta-date">May 10, 2021</div>
                    <h3 class="article-title"><a href="#">The joy of reading in the digital age</a></h3>
                </div>
            </div>
            <div class="col-md-3 article-background">
                <figure class="article-image">
                    <a href="#">
                        <img src="~/Content/images/post-img1.jpg" alt="post" class="post-image">
                    </a>
                </figure>

                <div class="post-item">
                    <div class="meta-date">Mar 30, 2021</div>
                    <h3 class="article-title"><a href="#">Reading books always makes the moments happy</a></h3>
                </div>
            </div>
            <div class="col-md-3 article-background">
                <figure class="article-image">
                    <a href="#" >
                        <img src="~/Content/images/post-img2.jpg" alt="post" class="post-image">
                    </a>
                </figure>

                <div class="post-item">
                    <div class="meta-date">Apr 15, 2021</div>
                    <h3 class="article-title"><a href="#">Exploring the world through books</a></h3>
                </div>
            </div>

            <div class="col-md-3 article-background">
                <figure class="article-image">
                    <a href="#" >
                        <img src="~/Content/images/post-img3.jpg" alt="post" class="post-image">
                    </a>
                </figure>

                <div class="post-item">
                    <div class="meta-date">May 10, 2021</div>
                    <h3 class="article-title"><a href="#">The joy of reading in the digital age</a></h3>
                </div>
            </div>
        </div>
    </div>
</section>